<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mobella.mapper.MomentMapper">
    <select id="getLstMoment" resultType="com.java.mobella.domain.reponsitory.Moment">
        select * from moments
    </select>
    <select id="getMomentById" resultType="com.java.mobella.domain.reponsitory.Moment" parameterType="Integer">
        select * from moments where id = #{id}
    </select>
    <insert id="insertMoment" parameterType="com.java.mobella.domain.reponsitory.Moment">
        insert into moments(content, img, status_accept,likes,  author_id, createdAt)
        values (#{content}, #{img}, #{status_accept},#{likes}, #{author_id}, current_timestamp)
    </insert>
    <update id="updateMoment" parameterType="com.java.mobella.domain.reponsitory.Moment">
        update moments set content = #{content},likes = #{likes}, img = #{img}, status_accept = #{status_accept}, author_id = #{author_id}, updatedAt = current_timestamp, createdAt = current_timestamp
        where id = #{id}
    </update>
    <delete id="deleteMoment" parameterType="Integer">
        delete from moments where id = #{id}
    </delete>
    <select id="searchMoment" parameterType="String" resultType="com.java.mobella.domain.reponsitory.Moment">
        select * from moments where content like #{searchContent} or author like #{searchContent}
    </select>
</mapper>